#titolo {
 color: green;
position: absolute;
  top: 22%;
  left: 37%;
}

#foto {
position: absolute;
 top:35%;
 left:2%;
}

#descrizione {
position: absolute;
 top:35%;
 left:45%;
 
}

#descrizioneprodotto {
position: absolute;
 top:45%;
 left:45%;
}