
iframe {

  margin: 20px 25%  20px 25% ; 
  height: 420px;
  width: 700px;
  
}
#titolo{
  color: green;
  text-align: center;
  margin: 10px 25%  1px 25% ; 
}

#indirizzo {
color: green;
position: absolute;
  margin: 28px 66%;

}

#dettagli {
position: absolute;
   margin: 55px 66%;
}

#foto {
 position: absolute;
 margin: 0px 50%; 
}
